
{% for db in dovecot_passdbs %}
passdb {
{%   for key in db %}
  {{ key }} = {{ db[key] }}
{%    endfor %}
}
{% endfor %}

{% for db in dovecot_userdbs %}
userdb {
{%   for key in db %}
  {{ key }} = {{ db[key] }}
{%    endfor %}
}
{% endfor %}

